html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.layout {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-bottom: 20px;
}

.left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.right-column {
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.matches-list {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#couponSelect {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}

.match-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.match-teams {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.match-time {
    font-size: 14px;
    color: #666;
    margin-bottom: 6px;
}

.match-result {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
    margin-top: 8px;
}

.profile-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    width: 100%;
    max-width: 300px;
    margin-top: 67px;
}


.logout-btn {
    width: 100%;
    padding: 12px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.logout-btn:hover {
    background: #c9302c;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.nav-item img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    opacity: 0.8;
}